.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #282930;
  font-family: 'Roboto', sans-serif;
  background-image: url("https://media.pitchfork.com/photos/5b1160a8d8c21c49d0ae4eef/1:1/w_600/Kanye%20Ye.png");
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  font-weight: 500;
  color: #3cd070;
}

h2, h3 {
  margin: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #136f94;
  text-shadow: #232931;
  color: #a5e545;
}

p {
  color: #3cc6d0;
}

img {
  width: 80%;
  background-color: #136f94;
  border-radius: 30%;
  mix-blend-mode: hard-light;
}


.myBtn {
  margin: 30px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
